.grid-square {
  margin: 0 auto;
  width: 20px;
  height: 20px;
  border: 1px solid #000;
  float: left;
  vertical-align: bottom;
  font-size: 100px;
  text-align: center;
  line-height: 0.8em;
  background-color: white;
}

.grid-row {
  width: 220px;
}